# Тема 02. Работа с табличными данными
Большое количество данных, которые используются в машинном обучении, представлены в виде таблиц, где в столбцах представлены различные признаки и целевые переменные. 
Для работы с такими данными в Python есть замечательная библиотека [`pandas`](https://pandas.pydata.org/docs/user_guide/index.html) тесно связанная с уже известной нам `numpy`. К пандам отношения не имеет, название пошло от "панельные данные".

# Pandas
## Создание и индексация
В `pandas` два основных вида объектов (типов) Series и Dataframe, они похожи между собой, но Dataframe это фактически таблица, в которой есть строки, столбцы, а Series это один столбец со строками.
Столбцы и\или строки могут иметь названия, которые выступают их индексами и к определенному столбцу (или строке) можно обращаться именно по названию.  

Создадим Series (давайте назовем это последовательностью), в которой будут записаны некоторые данные имеющие названия (индексы). И данные (data) и индексы (index) могут иметь различный тип: числа, строки, объекты.

Но будьте аккуратны, индексы надо делать так, чтобы было понятно. Ниже увидим примеры разрешенных, но совершенно не понятных индексов.

In [1]:
import pandas as pd # подключим библиотеку
import numpy as np

In [2]:
s = pd.Series(data=[10, "11", ['a',12], 'ppp', 14], # данные
              index=[2, '2', 'два', 2, -2]) # их индексы
s # здесь 5 ячеек

2           10
2           11
два    [a, 12]
2          ppp
-2          14
dtype: object

в этой последовательности 5 ячеек (data) и к ним можно обратиться по индексам (index), важно понять, что здесь индексы именно названия, а не номера строк.

In [3]:
print(s[2]) # здесь вернется подпоследовательность элементов у которых индекс называется 2 (первая и четвертая ячейки)
print(s['2']) # это ячейка с названием '2', это совершенно другой индекс, отличается от названия 2 (вторая ячейка)
print(s['два']) # это ячейка с названием 'два', третья ячейка, в которой записан массив
print(s[-2]) # это ячейка с названием -2, пятая ячейка

2     10
2    ppp
dtype: object
11
['a', 12]
14

Как и в numpy можно делать срезы, в этом случае указываются номера, а не названия элементов.

In [4]:
s[1:3] # срез, вторая и третья ячейки, здесь это номера, а не названия.

2           11
два    [a, 12]
dtype: object

Но срезы могут быть строковыми (удивительно), тогда это именно названия. Pandas сопоставит символьные индексы числовым, найдет их в последовательности, и вернет все, что между ними, включая границы.

In [5]:
sites = ['site%s'% i for i in range(1,11)]
train_df[sites] = train_df[sites].fillna(0).astype('int64')

a         10
f         11
c    [a, 12]
d        ppp
dtype: object

Создайте свои последовательности, обратитесь к элементам. Проверьте, что будет если при создании последовательности не указать index?  А если при строковом индексе в последовательности индексы будут повторяться? 

Аналогично можно создать таблицу Dataframe, в которой несколько столбцов.

In [6]:
df = pd.DataFrame([[10, 'aaa'], [s, 21], [30, 31]])
df

                                                   0    1
0                                                 10  aaa
1  2           10
2           11
два    [a, 12]
2...   21
2                                                 30   31

здесь два столбца, три строки, названия их сделаны по умолчанию, в одну ячейку мы записали последовательность s. 
Столбцы (columns) и строки (index) можно назвать.

In [7]:
df = pd.DataFrame([[10, 'aaa'], [s, 21], [30, 31]],
                  columns=['невторой',2],
                  index=[1,'1','один'])
df

                                               невторой    2
1                                                    10  aaa
1     2           10
2           11
два    [a, 12]
2...   21
один                                                 30   31

При индексации по названию сначала указываем название столбца - вернется весь столбец в виде последовательности - потом для нее указываем название строки.

In [8]:
s1=df['невторой']['один']
s1

30

Названия столбцов содержатся в атрибуте columns и их можно изменять.

В некоторых случаях к столбцу можно обратиться как к атрибуту через знак "." Но это работает не всегда.
Попробуйте назвать столбец "столбец 1" или 'index' или "1" и посмотрите, что получится.

In [9]:
# df.columns=['столбец 1',2] # изменяем названия столбцов
df.columns=['невторой','second']
# df.columns=['index','second']
df

                                               невторой second
1                                                    10    aaa
1     2           10
2           11
два    [a, 12]
2...     21
один                                                 30     31

In [10]:
train_df.info()

1                                                      10
1       2           10
2           11
два    [a, 12]
2...
один                                                   30
Name: невторой, dtype: object

In [11]:
#  а вот с такими названиями работать не будет 
df.столбец 1  
df.'столбец 1'

SyntaxError: invalid syntax (<ipython-input-11-3fdd4734ef68>, line 2)

In [13]:
# так ошибку не выдает, но выдает что-то не то. Это потому, что index уже определен как атрибут
df.index

Index([1, '1', 'один'], dtype='object')

Атрибут index возвращает индекс (названия строк)

Атрибут columns возвращает названия столбцов (для таблиц)

Атрибут values возвращает значения ячеек как массив numpy

In [14]:
print(df.index)
print(df.columns)
print(df.values)
print(type(df.values))

Index([1, '1', 'один'], dtype='object')
Index(['невторой', 'second'], dtype='object')
[[10 'aaa']
 [2           10
2           11
два    [a, 12]
2          ppp
-2          14
dtype: object
  21]
 [30 31]]
<class 'numpy.ndarray'>

Срез выполняется по строкам

In [15]:
from sklearn.feature_extraction.text import CountVectorizer
import csv

                                            невторой second
1                                                 10    aaa
1  2           10
2           11
два    [a, 12]
2...     21

Если нужно обращаться по номеру (числовому индексу), используем атрибут iloc, как если бы это был массив numpy.

In [16]:
df.iloc[1,1]
df.iloc[1,:]

невторой    2           10
2           11
два    [a, 12]
2...
second                                                     21
Name: 1, dtype: object

Индексация может быть логической, истинные элементы (True) отбираются, ложные (False) отбрасываются.

In [17]:
np.random.seed(123)
s = pd.Series(np.random.normal(size=10))
print(s)
ind=s>0
print(ind)
r=s[ind]
print(r)

0   -1.085631
1    0.997345
2    0.282978
3   -1.506295
4   -0.578600
5    1.651437
6   -2.426679
7   -0.428913
8    1.265936
9   -0.866740
dtype: float64
0    False
1     True
2     True
3    False
4    False
5     True
6    False
7    False
8     True
9    False
dtype: bool
1    0.997345
2    0.282978
5    1.651437
8    1.265936
dtype: float64

Другие способы создания и индексации смотри в документации.

## Загрузка из файла

Если б таблички нужно было создавать вручную, это было бы слишком утомительно, к счастью, pandas обладает богатыми возможностями по загрузке файлов таблиц разного формата, \*.csv, \*.xls и других, как с диска так и из Интернет.

Команда [`read_csv()`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html) позволяет загрузить файлы csv с заданного файла на диске или адреса в Интернет (первый обязательный аргумент `filepath_or_buffer`). Это текстовые файлы, в которых столбцы таблиц разделяются некоторым символом (запятая, точка с запятой или другие), который можно указать команде (аргумент `sep`), возвращается объект типа Dataframe. У команды большие возможности по загрузке данных, можно ограничить количество загружаемых строк (аргумент `nrows`), можно указать загружаемые столбцы (аргумент `usecols`), указать, что делать со строками с пропущенными значениями и другие. 

Давайте загрузим табличку о 500 лучших компаниях мира с адреса https://datahub.io/core/s-and-p-500-companies-financials#resource-constituents-financials  , с разделителями столбцов в виде запятой. В нашем примере по умолчанию названия столбцов будут взяты из первой строки файла, в которой они и указаны. _(Если в силу каких-то причин из Интернета не загружается, то исправьте url на file, чтобы загрузить уже скаченную копию таблицы.)_

In [18]:
url = 'https://datahub.io/core/s-and-p-500-companies-financials/r/constituents-financials.csv'
file='constituents-financials_csv.csv'
data = pd.read_csv(file, sep=',')
data

,Symbol,Name,Sector,Price,Price/Earnings,Dividend Yield,Earnings/Share,52 Week Low,52 Week High,Market Cap,EBITDA,Price/Sales,Price/Book,SEC Filings
0,MMM,3M Company,Industrials,222.89,24.31,2.332862,7.92,259.77,175.490,138721055226,9.048000e+09,4.390271,11.34,http://www.sec.gov/cgi-bin/browse-edgar?action...
1,AOS,A.O. Smith Corp,Industrials,60.24,27.76,1.147959,1.70,68.39,48.925,10783419933,6.010000e+08,3.575483,6.35,http://www.sec.gov/cgi-bin/browse-edgar?action...
2,ABT,Abbott Laboratories,Health Care,56.27,22.51,1.908982,0.26,64.60,42.280,102121042306,5.744000e+09,3.740480,3.19,http://www.sec.gov/cgi-bin/browse-edgar?action...
3,ABBV,AbbVie Inc.,Health Care,108.48,19.41,2.499560,3.29,125.86,60.050,181386347059,1.031000e+10,6.291571,26.14,http://www.sec.gov/cgi-bin/browse-edgar?action...
4,ACN,Accenture plc,Information Technology,150.51,25.47,1.714470,5.44,162.60,114.820,98765855553,5.643228e+09,2.604117,10.62,http://www.sec.gov/cgi-bin/browse-edgar?action...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
500,XYL,Xylem Inc.,Industrials,70.24,30.94,1.170079,1.83,76.81,46.860,12915021000,7.220000e+08,2.726209,5.31,http://www.sec.gov/cgi-bin/browse-edgar?action...
501,YUM,Yum! Brands Inc,Consumer Discretionary,76.30,27.25,1.797080,4.07,86.93,62.850,27003303098,2.289000e+09,6.313636,212.08,http://www.sec.gov/cgi-bin/browse-edgar?action...
502,ZBH,Zimmer Biomet Holdings,Health Care,115.53,14.32,0.794834,9.01,133.49,108.170,24454698119,2.007400e+09,3.164895,2.39,http://www.sec.gov/cgi-bin/browse-edgar?action...
503,ZION,Zions Bancorp,Financials,50.71,17.73,1.480933,2.60,55.61,38.430,10670678640,0.000000e+00,3.794579,1.42,http://www.sec.gov/cgi-bin/browse-edgar?action...
504,ZTS,Zoetis,Health Care,71.51,32.80,0.682372,1.65,80.13,52.000,35991109776,1.734000e+09,9.280896,18.09,http://www.sec.gov/cgi-bin/browse-edgar?action...

In [19]:
data.shape # сколько строк и столбцов?

(505, 14)

In [20]:
# выводит первые несколько строк
data.head()

,Symbol,Name,Sector,Price,Price/Earnings,Dividend Yield,Earnings/Share,52 Week Low,52 Week High,Market Cap,EBITDA,Price/Sales,Price/Book,SEC Filings
0,MMM,3M Company,Industrials,222.89,24.31,2.332862,7.92,259.77,175.490,138721055226,9.048000e+09,4.390271,11.34,http://www.sec.gov/cgi-bin/browse-edgar?action...
1,AOS,A.O. Smith Corp,Industrials,60.24,27.76,1.147959,1.70,68.39,48.925,10783419933,6.010000e+08,3.575483,6.35,http://www.sec.gov/cgi-bin/browse-edgar?action...
2,ABT,Abbott Laboratories,Health Care,56.27,22.51,1.908982,0.26,64.60,42.280,102121042306,5.744000e+09,3.740480,3.19,http://www.sec.gov/cgi-bin/browse-edgar?action...
3,ABBV,AbbVie Inc.,Health Care,108.48,19.41,2.499560,3.29,125.86,60.050,181386347059,1.031000e+10,6.291571,26.14,http://www.sec.gov/cgi-bin/browse-edgar?action...
4,ACN,Accenture plc,Information Technology,150.51,25.47,1.714470,5.44,162.60,114.820,98765855553,5.643228e+09,2.604117,10.62,http://www.sec.gov/cgi-bin/browse-edgar?action...

In [21]:
full_sites = train_df[sites]
full_sites.head()

Index(['Symbol', 'Name', 'Sector', 'Price', 'Price/Earnings', 'Dividend Yield',
       'Earnings/Share', '52 Week Low', '52 Week High', 'Market Cap', 'EBITDA',
       'Price/Sales', 'Price/Book', 'SEC Filings'],
      dtype='object')

In [22]:
# количество строк
len(data)

505

In [23]:
# из них строк с компаниями из области Industrials (столбец Sector)
ind=data['Sector']=='Industrials'
sum(ind)

67

> _Примечание: так как false интерпретируется как 0, а true как 1, то sum() и дает число истинных элементов._

## Группировка данных 

Данные можно сгруппировать по различным критериям, за это отвечает метод [`groupby()`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.groupby.html), к результатам которого можно применять разные функции.

Общий подход показан на рисунке:

данные разбиваются построчно по уникальным значениям (ключ, на рисунке столбец x), стоки с одинаковыми ключами объединяются в группы и к группам применяются заданные функции (подсчет среднего на рисунке для столбца y), затем результаты объединяются.

![img](split_apply_combine.png)

In [24]:
# группируем по значениям столбцов Sector и
group=data.groupby('Sector')
group.size() # считаем количество строк, оказавшихся в каждой группе

Sector
Consumer Discretionary        84
Consumer Staples              34
Energy                        32
Financials                    68
Health Care                   61
Industrials                   67
Information Technology        70
Materials                     25
Real Estate                   33
Telecommunication Services     3
Utilities                     28
dtype: int64

In [25]:
full_sites = train_df[sites]
full_sites.head()

,Symbol,Name,Price,Price/Earnings,Dividend Yield,Earnings/Share,52 Week Low,52 Week High,Market Cap,EBITDA,Price/Sales,Price/Book,SEC Filings
Sector,,,,,,,,,,,,,
Consumer Discretionary,84,84,84,83,84,84,84,84,84,84,84,83,84
Consumer Staples,34,34,34,34,34,34,34,34,34,34,34,33,34
Energy,32,32,32,32,32,32,32,32,32,32,32,30,32
Financials,68,68,68,68,68,68,68,68,68,68,68,68,68
Health Care,61,61,61,60,61,61,61,61,61,61,61,60,61
Industrials,67,67,67,67,67,67,67,67,67,67,67,64,67
Information Technology,70,70,70,70,70,70,70,70,70,70,70,70,70
Materials,25,25,25,25,25,25,25,25,25,25,25,25,25
Real Estate,33,33,33,33,33,33,33,33,33,33,33,33,33
Telecommunication Services,3,3,3,3,3,3,3,3,3,3,3,3,3
Utilities,28,28,28,28,28,28,28,28,28,28,28,28,28

In [26]:
group.Price.median() # медиана для групп по числовому столбцу Price
# тут-то нам и пригодилось обращение к столбцу как к атрибуту

#group['Price'].median() # альтернативное написание

Sector
Consumer Discretionary         65.140
Consumer Staples               69.750
Energy                         50.325
Financials                     71.105
Health Care                    96.420
Industrials                    87.600
Information Technology         84.770
Materials                     105.180
Real Estate                    58.360
Telecommunication Services     35.570
Utilities                      49.660
Name: Price, dtype: float64

In [27]:
# каждую группу можно посмотреть, вот состав группы Materials
group.get_group('Materials')

,Symbol,Name,Sector,Price,Price/Earnings,Dividend Yield,Earnings/Share,52 Week Low,52 Week High,Market Cap,EBITDA,Price/Sales,Price/Book,SEC Filings
15,APD,Air Products & Chemicals Inc,Materials,152.80,24.22,2.781114,13.66,175.1700,133.6301,34638387128,2.542500e+09,4.116368,3.35,http://www.sec.gov/cgi-bin/browse-edgar?action...
18,ALB,Albemarle Corp,Materials,105.18,26.03,1.200413,5.66,144.9900,90.3500,11782151266,6.860300e+08,5.366620,2.98,http://www.sec.gov/cgi-bin/browse-edgar?action...
63,AVY,Avery Dennison Corp,Materials,110.77,22.11,1.568217,3.11,123.6700,78.4710,10104814319,8.312000e+08,1.520650,8.83,http://www.sec.gov/cgi-bin/browse-edgar?action...
65,BLL,Ball Corp,Materials,38.44,20.56,1.017035,0.85,43.2400,35.6000,13767688518,1.317000e+09,1.569640,3.62,http://www.sec.gov/cgi-bin/browse-edgar?action...
101,CF,CF Industries Holdings Inc,Materials,37.46,-59.46,3.039514,-1.20,43.9800,25.0400,9209106695,7.110000e+08,3.004445,2.81,http://www.sec.gov/cgi-bin/browse-edgar?action...
154,DWDP,DowDuPont,Materials,68.21,49.43,2.152975,1.59,77.0800,64.0100,165203312427,5.250000e+09,2.692239,1.54,http://www.sec.gov/cgi-bin/browse-edgar?action...
161,EMN,Eastman Chemical,Materials,93.57,12.28,2.263084,10.12,104.0800,76.0200,14226830813,2.152000e+09,1.490479,2.78,http://www.sec.gov/cgi-bin/browse-edgar?action...
164,ECL,Ecolab Inc.,Materials,127.76,28.08,1.231971,4.14,140.5000,119.6100,38460272282,2.848600e+09,3.736069,5.28,http://www.sec.gov/cgi-bin/browse-edgar?action...
198,FMC,FMC Corporation,Materials,80.87,32.48,0.785995,1.56,98.7000,56.5300,11273961835,5.578000e+08,6.008904,5.26,http://www.sec.gov/cgi-bin/browse-edgar?action...
204,FCX,Freeport-McMoRan Inc.,Materials,17.16,14.67,1.119821,1.24,20.2500,11.0500,25853969330,5.347000e+09,1.653835,3.66,http://www.sec.gov/cgi-bin/browse-edgar?action...
250,IP,International Paper,Materials,56.05,15.57,3.206751,5.14,66.9400,49.6000,24465996443,3.004000e+09,1.073826,4.99,http://www.sec.gov/cgi-bin/browse-edgar?action...
252,IFF,Intl Flavors & Fragrances,Materials,138.00,24.17,1.934128,5.05,157.4000,116.3000,11270040447,6.999630e+08,4.420881,6.34,http://www.sec.gov/cgi-bin/browse-edgar?action...
288,LYB,LyondellBasell,Materials,105.79,10.35,3.264714,12.25,121.9500,78.0100,43556650000,6.851000e+09,1.303761,5.86,http://www.sec.gov/cgi-bin/browse-edgar?action...
296,MLM,Martin Marietta Materials,Materials,208.42,30.38,0.804204,6.63,244.3200,191.0900,13756812736,9.752230e+08,4.416998,3.03,http://www.sec.gov/cgi-bin/browse-edgar?action...
316,MON,Monsanto Co.,Materials,119.08,21.53,1.793871,5.09,123.1500,106.9700,53076824328,4.217000e+09,3.589782,7.96,http://www.sec.gov/cgi-bin/browse-edgar?action...
329,NEM,Newmont Mining Corporation,Materials,36.61,26.34,0.810154,-1.18,42.0400,31.4200,19749449484,1.509000e+09,3.707639,1.81,http://www.sec.gov/cgi-bin/browse-edgar?action...
343,NUE,Nucor Corp.,Materials,60.38,17.01,2.415766,4.10,70.4800,51.6700,20003317128,2.648729e+09,0.998376,2.34,http://www.sec.gov/cgi-bin/browse-edgar?action...
351,PKG,Packaging Corporation of America,Materials,111.95,18.57,2.151456,7.07,131.1316,88.4700,11051273948,1.214900e+09,1.741522,5.54,http://www.sec.gov/cgi-bin/browse-edgar?action...
369,PPG,PPG Industries,Materials,110.30,18.73,1.577149,6.31,122.0697,99.5700,29043337549,2.585000e+09,1.955105,4.83,http://www.sec.gov/cgi-bin/browse-edgar?action...
371,PX,Praxair Inc.,Materials,144.07,24.63,2.199853,4.32,166.9500,115.5300,42948664203,3.632000e+09,3.887915,6.88,http://www.sec.gov/cgi-bin/browse-edgar?action...
409,SEE,Sealed Air,Materials,42.62,21.31,1.442741,2.46,50.6200,41.2200,8001938397,9.697000e+08,2.470007,10.55,http://www.sec.gov/cgi-bin/browse-edgar?action...
411,SHW,Sherwin-Williams,Materials,387.65,26.75,0.842669,18.61,435.1500,302.0101,37730994828,2.160668e+09,2.527608,13.42,http://www.sec.gov/cgi-bin/browse-edgar?action...
440,MOS,The Mosaic Company,Materials,24.13,23.66,0.396040,0.85,34.3600,19.2300,9726962131,1.165100e+09,1.816196,0.94,http://www.sec.gov/cgi-bin/browse-edgar?action...
479,VMC,Vulcan Materials,Materials,121.47,40.90,0.779788,3.10,141.2000,108.9500,16964162228,9.709760e+08,5.757688,3.54,http://www.sec.gov/cgi-bin/browse-edgar?action...
489,WRK,WestRock Company,Materials,60.93,23.26,2.669978,2.77,71.5500,49.2300,16433340688,2.262300e+09,1.075785,1.58,http://www.sec.gov/cgi-bin/browse-edgar?action...

Уникальные (т.е. без повторов) названия (столбец Name) компаний в каждой группе.

In [28]:
group.Name.unique()

Sector
Consumer Discretionary        [Advance Auto Parts, Amazon.com Inc, Aptiv Plc...
Consumer Staples              [Altria Group Inc, Archer-Daniels-Midland Co, ...
Energy                        [Anadarko Petroleum Corp, Andeavor, Apache Cor...
Financials                    [Affiliated Managers Group Inc, AFLAC Inc, All...
Health Care                   [Abbott Laboratories, AbbVie Inc., Aetna Inc, ...
Industrials                   [3M Company, A.O. Smith Corp, Acuity Brands In...
Information Technology        [Accenture plc, Activision Blizzard, Adobe Sys...
Materials                     [Air Products & Chemicals Inc, Albemarle Corp,...
Real Estate                   [Alexandria Real Estate Equities Inc, American...
Telecommunication Services    [AT&T Inc, CenturyLink Inc, Verizon Communicat...
Utilities                     [AES Corp, Alliant Energy Corp, Ameren Corp, A...
Name: Name, dtype: object

Каждая группа здесь это кортеж названий и содержания (последовательность) группы.

Посмотрим, есть ли в группе хоть одна фирма с аббревиатурой (столбец Symbol) начинающейся на букву "А".

In [29]:
letter="A"
for i in group.Symbol:
    print('{}: {}'.format(i[0],(i[1].str.get(0)==letter).any()))

Consumer Discretionary: True
Consumer Staples: True
Energy: True
Financials: True
Health Care: True
Industrials: True
Information Technology: True
Materials: True
Real Estate: True
Telecommunication Services: False
Utilities: True

Что здесь происходит:
- группы можно итерировать, в цикле переменная i будет являться последовательно кортежем из названия и содержание каждой из групп в которой оставлен только столбец Symbol.
- i[0] - название группы, i[1] - содержимое текущей группы, в нашем случае это объект типа Series.
- у этого объекта Series есть атрибут str, который позволяет работать с элементами как со строкой.
- метод get() для строки возвращает символ строки на определенном месте, 0 - это первый символ.
- сравниваем этот первый символ с буквой "A", получаем или истину или ложь.
- так как в группе может быть не одна строка, то в результате получится логический вектор (тип Series) из значений истина\ложь. 
- метод any() для логических векторов возвращает истину если хотя бы один элемент вектора истинный, что нам и требуется.
- наконец печатаем результат.

Агрегировать группы можно разными функциями, даже своими собственными, в этом помогает метод [`agg()`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.core.groupby.GroupBy.agg.html?highlight=agg#pandas.core.groupby.GroupBy.agg), который позволяет применять одну или несколько функций к группам. Давайте сделаем свою функцию и применим ее к группам.

In [30]:
cv = CountVectorizer(ngram_range=(1,1), max_features=50000)
with open('data_sessions_text.txt') as inp_file:
    data = cv.fit_transform(inp_file)

                            max_min        mean
Sector
Consumer Discretionary      1795.63  124.034524
Consumer Staples             188.77   79.764118
Energy                       166.34   57.887500
Financials                   496.00   89.056029
Health Care                  575.80  132.515738
Industrials                  319.85  116.887612
Information Technology       996.49  119.242857
Materials                    370.49  102.386800
Real Estate                  395.97   88.712727
Telecommunication Services    32.84   33.603333
Utilities                    135.23   55.194643

## Разбивка на интервалы
Значения в столбце можно разбить на интервалы, назвать их и записать эти интервалы вместо значений. В этом поможет команда [`cut`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.cut.html?highlight=cut#pandas.cut) которой указываем что разбивать, сколько интервалов сделать, их названия и другие аргументы.

In [31]:
# разбиваем столбец Price на 5 интервалов, называем их.
cuted=pd.cut(data['Price'], 5,labels=['Low','Medium','High','Very High','Exclusive'], include_lowest=True)
cuted

0      Low
1      Low
2      Low
3      Low
4      Low
      ...
500    Low
501    Low
502    Low
503    Low
504    Low
Name: Price, Length: 505, dtype: category
Categories (5, object): ['Low' < 'Medium' < 'High' < 'Very High' < 'Exclusive']

Заменим столбец Price на cuted

In [32]:
data['Price']=cuted
data

,Symbol,Name,Sector,Price,Price/Earnings,Dividend Yield,Earnings/Share,52 Week Low,52 Week High,Market Cap,EBITDA,Price/Sales,Price/Book,SEC Filings
0,MMM,3M Company,Industrials,Low,24.31,2.332862,7.92,259.77,175.490,138721055226,9.048000e+09,4.390271,11.34,http://www.sec.gov/cgi-bin/browse-edgar?action...
1,AOS,A.O. Smith Corp,Industrials,Low,27.76,1.147959,1.70,68.39,48.925,10783419933,6.010000e+08,3.575483,6.35,http://www.sec.gov/cgi-bin/browse-edgar?action...
2,ABT,Abbott Laboratories,Health Care,Low,22.51,1.908982,0.26,64.60,42.280,102121042306,5.744000e+09,3.740480,3.19,http://www.sec.gov/cgi-bin/browse-edgar?action...
3,ABBV,AbbVie Inc.,Health Care,Low,19.41,2.499560,3.29,125.86,60.050,181386347059,1.031000e+10,6.291571,26.14,http://www.sec.gov/cgi-bin/browse-edgar?action...
4,ACN,Accenture plc,Information Technology,Low,25.47,1.714470,5.44,162.60,114.820,98765855553,5.643228e+09,2.604117,10.62,http://www.sec.gov/cgi-bin/browse-edgar?action...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
500,XYL,Xylem Inc.,Industrials,Low,30.94,1.170079,1.83,76.81,46.860,12915021000,7.220000e+08,2.726209,5.31,http://www.sec.gov/cgi-bin/browse-edgar?action...
501,YUM,Yum! Brands Inc,Consumer Discretionary,Low,27.25,1.797080,4.07,86.93,62.850,27003303098,2.289000e+09,6.313636,212.08,http://www.sec.gov/cgi-bin/browse-edgar?action...
502,ZBH,Zimmer Biomet Holdings,Health Care,Low,14.32,0.794834,9.01,133.49,108.170,24454698119,2.007400e+09,3.164895,2.39,http://www.sec.gov/cgi-bin/browse-edgar?action...
503,ZION,Zions Bancorp,Financials,Low,17.73,1.480933,2.60,55.61,38.430,10670678640,0.000000e+00,3.794579,1.42,http://www.sec.gov/cgi-bin/browse-edgar?action...
504,ZTS,Zoetis,Health Care,Low,32.80,0.682372,1.65,80.13,52.000,35991109776,1.734000e+09,9.280896,18.09,http://www.sec.gov/cgi-bin/browse-edgar?action...

В качестве упражнения выведите на экран название (Name) фирмы, у которой цена (Price) входит в интервал Exclusive

In [33]:
#data[data['Price']=='Exclusive']['Name']

# Задания
Тщательно изучите документацию на библиотеку pandas и попробуйте самостоятельно выполнить группировку по другим столбцам.